@* @page "/page"
@page "/pages/page" *@
@attribute [RenderModeInteractiveAuto]
@attribute [Route(nameof(Start))]
@inject NavigationManager Navigation

<h3>Start</h3>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p id="specialLine">This is our special line of text and not a duplicate.</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<p>This is a test of our duplication</p>
<button class="btn btn-primary" @onclick="GoToCounter">Go To Counter</button>

@code {
    private void GoToCounter()
    {
        Navigation.NavigateTo("Counter");
    }
}
