@page "/BetterCounter/{Title?}"
@* @page "/BetterCounter/{StartingValue:int}" *@
@* @page "/BetterCounter/all/{*PageRoute}" *@
@page "/BetterCounter"
@attribute [RenderModeInteractiveAuto]

<PageTitle>Better Counter</PageTitle>

<h1>@Title</h1>
@* <h2>@PageRoute</h2> *@
<p role="status" style="font-size: 26px;">Current count: @StartingValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    // [SupplyParameterFromQuery]
    public string? Title { get; set; }


    // [Parameter]
    // public string? PageRoute { get; set; }

    //[Parameter]
    [SupplyParameterFromQuery(Name = "val")]
    public int StartingValue { get; set; }

    //private int currentCount = 0;

    protected override void OnParametersSet()
    {
        Title = Title ?? "Our Better Counter";
    }

    private void IncrementCount()
    {
        StartingValue++;
    }
}
