@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <BetterCounter Title="Counter 1" />
<BetterCounter Title="Counter 2" StartingValue="2" />
<BetterCounter Title="Counter 3" StartingValue="3" />
<BetterCounter Title="Counter one million" StartingValue="1000000" /> *@