@attribute [RenderModeInteractiveAuto]
@inject ILogger<MyForm> log

<h3>My Form</h3>

<EditForm Enhance Model="Person" method="post" FormName="personForm" OnSubmit="SubmitForm">
    <div>
        <label>First Name</label>
        <InputText @bind-Value="Person.FirstName" />
    </div>
    <div>
        <label>Last Name</label>
        <InputText @bind-Value="Person.LastName" />
    </div>
    <button class="btn btn-primary" type="submit">Add Person</button>
</EditForm>

<ul>
    @foreach (var p in people)
    {
        <li>@p.FirstName @p.LastName</li>
    }
</ul>

 @code {
    [SupplyParameterFromForm]
    private PersonModel Person { get; set; } = new();

    private List<PersonModel> people = new();

    private void SubmitForm()
    {
        log.LogInformation($"{Person.FirstName} {Person.LastName}");
        people.Add(Person);
        Person = new();
    }
}
