@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <Countdown @rendermode="RenderMode.InteractiveServer" />
<Countdown @rendermode="RenderMode.InteractiveWebAssembly" />
<Countdown @rendermode="RenderMode.InteractiveAuto" /> *@
<Countdown />