@page "/counter"
@attribute [RenderModeInteractiveAuto]
@inject ILogger<Counter> log

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnParametersSet()
    {
        log.LogInformation("This is from OnParametersSet");
    }

    protected override void OnInitialized()
    {
        log.LogInformation("This is from OnInitialized");
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        log.LogInformation($"This is from OnAfterRender (First Render: {firstRender})");
    }
}
